<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<!doctype html>
<html lang="en">

<head>
<style>
#button1{
width: 3000px;
height: 400px;

}
#button2{
width: 3000px;
height: 400px;
}
#butn{
    margin: 0 auto;
    display: block;
}
button {
  display: inline-block;
}
</style>

<meta charset="utf-8">
<meta name="Homepage" content="Starting page for the survey website ">

 <title> Survey HomePage</title>
</head>
<body>
<center>
  <div id="butn">
 <button type="submit" class="btn btn-primary" >Teacher</button>
    <button type="submit" class="btn btn-primary ml-3">Student</button>
<div>
</center>
</body>
 </html>